@{
    var userModels = await userProfileService.GetAllUserModelAsync();
}

<section class="register-form">
    <div class="container">
    <h1 class="">Users</h1>
        <div class="form-content">
            <div class="form-title">User List</div>
            <hr>
            <div class="mb-2">Here are users in the database.</div>
            @if (userModels != null)
            {
                foreach (var user in userModels)
                {
                    <div class="d-flex justify-content-between align-items-center bg-body-tertiary mb-2 ps-3 pe-1 py-1">
                        <div>
                            <span class="fw-bold">Id:</span> @user.Id 
                            <span class="fw-bold">Name:</span> @user.FirstName @user.LastName 
                            <span class="fw-bold">Email:</span> @user.Email 
                            <span class="fw-bold">Phone Number:</span> 
                            @{
                                var phoneNumber = "";

                                if (user.PhoneNumber == null || user.PhoneNumber == "")
                                    phoneNumber = "No phone number was entered";
                                else
                                    phoneNumber = user.PhoneNumber;
                            }
                            @phoneNumber
                            @*<span class="fw-bold">City:</span> @user.City*@
                            <span class="fw-bold">Role:</span> @user.Role.ToUpper()
                        </div>
                        @*<button class="btn-white" style="padding: 0.5rem;">X</button>*@
                    </div>
                }
            }
        </div>
    </div>
</section>