@model ProductsIndexViewModel

@*TEEST*@
@*@{
    var price = (Model.TestCard.Price).ToString("0.00");
}*@
@*
<div class="col">
    <div class="card">
        <div class="img-holder">
            <a asp-controller="products" asp-action="details" asp-route-id="@Model.TestCard.Id">
                <img src="/images/products/@Model.TestCard.ImageUrl" class="card-img-top" alt="@Model.TestCard.Title">
            </a>
        </div>
        <div class="card-body">
            <div>
                <a class="card-link" asp-controller="products" asp-action="details" asp-route-id="@Model.TestCard.Id">@Model.TestCard.Title</a>
                <p class="card-text">$@price</p>
            </div>
            <a class="card-icon" href="#"><i class="fa-regular fa-cart-plus"></i></a>
        </div>
    </div>
</div>*@
@*TEEST*@

<partial name="/Views/Partials/_GridCollection.cshtml" model="@Model.All" />