@model ProductRegisterViewModel
@{
    var categories = await categoryService.GetCategoriesAsync();
}

<partial name="/Views/Partials/_ProductHeader.cshtml" />

<!-- register-form start -->
<section class="register-form">
    <div class="container">
        <div class="form-content">
            <div class="form-title">Register a new product</div>
            <hr>
            <form method="post" novalidate>

                <div class="line">
                    <div asp-validation-summary="ModelOnly" class="error-text"></div>
                </div>

                <div class="line">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" required />
                    <span asp-validation-for="Name" class="error-text"></span>
                </div>

                <div class="line">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" required></textarea>
                    <span asp-validation-for="Description" class="error-text"></span>
                </div>

                <div class="line ">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" type="number" required />
                    <span asp-validation-for="Price" class="error-text"></span>
                </div>

                <div class="line">
                    <label asp-for="LgImgUrl"></label>
                    <input asp-for="LgImgUrl" />
                    <span asp-validation-for="LgImgUrl" class="error-text"></span>
                </div>

                <div class="line">
                    <label asp-for="SmImgUrl"></label>
                    <input asp-for="SmImgUrl" required />
                    <span asp-validation-for="SmImgUrl" class="error-text"></span>
                </div>

              @*This one is working, but you can only select ONE category!              *@
                <div class="line">
                    <label asp-for="Category" class=""></label>
                    <select asp-for="Category">
                        @foreach (var category in categories)
                        {
                            <option value="@category.Name">@category.Name</option>
                        }
                    </select>
                </div>

@*                <label asp-for="Category" class="">Product category:</label>
                @foreach (var category in categories)
                {
                    <label class="" style="width: min-content;">@category.Name</label>
                    @if(category.Name == "new")
                    {
                        <input asp-for="Category" type="checkbox" value="@category.Name" checked="checked" />
                    }
                    else
                    {
                        <input asp-for="Category" type="checkbox" value="@category.Name" />
                    }
                }*@

                <button class="btn-theme" type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>
<!-- register-form end -->